[Desktop Entry]
Version=1.0
Name=SpotDL GUI
Comment=Interfaz gráfica para descargar música de Spotify
Exec=/usr/local/bin/spotdl
Icon=/usr/share/icons/spotdl.png
Terminal=false
Type=Application
Categories=Audio;Music;
StartupNotify=true 